
.vs/OSM-Connecitvity-Backend-Revised/xs/project-cache/OSM-Connecitvity-Backend-Revised-Debug.json
.vs/OSM-Connecitvity-Backend-Revised/xs/UserPrefs.xml
OSM-Connecitvity-Backend-Revised/bin/Debug/netcoreapp3.0/Newtonsoft.Json.dll
OSM-Connecitvity-Backend-Revised/bin/Debug/netcoreapp3.0/OSM-Connecitvity-Backend-Revised.dll
OSM-Connecitvity-Backend-Revised/bin/Debug/netcoreapp3.0/OSM-Connecitvity-Backend-Revised.pdb
OSM-Connecitvity-Backend-Revised/bin/Debug/netcoreapp3.0/OSM-Connecitvity-Backend-Revised.runtimeconfig.dev.json
OSM-Connecitvity-Backend-Revised/bin/Debug/netcoreapp3.0/Newtonsoft.Json.dll
OSM-Connecitvity-Backend-Revised/bin/Debug/netcoreapp3.0/OSM-Connecitvity-Backend-Revised.dll
OSM-Connecitvity-Backend-Revised/bin/Debug/netcoreapp3.0/OSM-Connecitvity-Backend-Revised.pdb
OSM-Connecitvity-Backend-Revised/bin/Debug/netcoreapp3.0/OSM-Connecitvity-Backend-Revised.runtimeconfig.dev.json
OSM-Connecitvity-Backend-Revised/obj/Debug/netcoreapp3.0/OSM-Connecitvity-Backend-Revised.assets.cache
OSM-Connecitvity-Backend-Revised/obj/Debug/netcoreapp3.0/OSM-Connecitvity-Backend-Revised.csproj.CoreCompileInputs.cache
OSM-Connecitvity-Backend-Revised/obj/Debug/netcoreapp3.0/OSM-Connecitvity-Backend-Revised.csproj.FileListAbsolute.txt
OSM-Connecitvity-Backend-Revised/obj/Debug/netcoreapp3.0/OSM-Connecitvity-Backend-Revised.csprojAssemblyReference.cache
OSM-Connecitvity-Backend-Revised/obj/Debug/netcoreapp3.0/OSM-Connecitvity-Backend-Revised.dll
OSM-Connecitvity-Backend-Revised/obj/Debug/netcoreapp3.0/OSM-Connecitvity-Backend-Revised.genruntimeconfig.cache
OSM-Connecitvity-Backend-Revised/obj/Debug/netcoreapp3.0/OSM-Connecitvity-Backend-Revised.pdb
OSM-Connecitvity-Backend-Revised/obj/OSM-Connecitvity-Backend-Revised.csproj.nuget.cache
OSM-Connecitvity-Backend-Revised/obj/OSM-Connecitvity-Backend-Revised.csproj.nuget.dgspec.json
OSM-Connecitvity-Backend-Revised/obj/OSM-Connecitvity-Backend-Revised.csproj.nuget.g.props
OSM-Connecitvity-Backend-Revised/obj/project.assets.json
OSM-Connecitvity-Backend-Revised/obj/Debug/netcoreapp3.0/OSM-Connecitvity-Backend-Revised.assets.cache
OSM-Connecitvity-Backend-Revised/obj/Debug/netcoreapp3.0/OSM-Connecitvity-Backend-Revised.csproj.FileListAbsolute.txt
OSM-Connecitvity-Backend-Revised/obj/Debug/netcoreapp3.0/OSM-Connecitvity-Backend-Revised.csprojAssemblyReference.cache
OSM-Connecitvity-Backend-Revised/obj/Debug/netcoreapp3.0/OSM-Connecitvity-Backend-Revised.dll
OSM-Connecitvity-Backend-Revised/obj/Debug/netcoreapp3.0/OSM-Connecitvity-Backend-Revised.pdb
OSM-Connecitvity-Backend-Revised/obj/OSM-Connecitvity-Backend-Revised.csproj.nuget.cache
OSM-Connecitvity-Backend-Revised/obj/OSM-Connecitvity-Backend-Revised.csproj.nuget.dgspec.json
OSM-Connecitvity-Backend-Revised/obj/OSM-Connecitvity-Backend-Revised.csproj.nuget.g.props
OSM-Connecitvity-Backend-Revised/obj/project.assets.json
OSM-Connecitvity-Backend-Revised/obj/Debug/netcoreapp3.0/OSM-Connecitvity-Backend-Revised.dll
OSM-Connecitvity-Backend-Revised/bin/Debug/netcoreapp3.0/Disconnections.json
OSM-Connecitvity-Backend-Revised/obj/Debug/netcoreapp3.0/OSM-Connecitvity-Backend-Revised.assets.cache
*.json
*.dll
*.pdb
*.json
*.cache
*.pdb
*.props
*.json
*.pdb
*.pdb
*.pdb
*.pdb
